<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://raw.githubusercontent.com/angarg12/nucleogenesis/master/img/logo.png" />
  <meta property="og:type" content="personal" />
  <meta property="og:url" content="https://angarg12.github.io/nucleogenesis/" />
  <meta property="og:title" content="Nucleogenesis" />
  <meta property="og:description" content="Nucleogenesis incremental game" />
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ziggurat/ziggurat.js"></script>
  <script src="bower_components/version-compare/version-compare.js"></script>
  <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
  <script src="bower_components/swarm-numberformat/dist/swarm-numberformat.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="scripts/app.min.js"></script>
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" id="theme_css">
  <link rel="stylesheet" href="styles/simple-sidebar.css">
  <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css" />
  <link rel="stylesheet" href="styles/main.css">
  <link rel="icon" href="favicon.ico">
  <title>Nucleogenesis</title>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-58136427-7', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="ng-scope theme-none" ng-app="game" ng-controller="main-loop">
  <!-- FIXME: ugly hack to preload components/controllers. If you have a better solution
      please get in touch -->
  <span ng-controller="ct_generators"></span>
  <span ng-controller="ct_reactions"></span>
  <span ng-controller="ct_redox"></span>
  <span ng-controller="ct_achievements"></span>
  <span ng-controller="ct_exotic"></span>
  <div>
    <div>
      <div ng-if="state.loading" class="loader" />
    </div>
    <div id="wrapper" class="toggled" ng-if="!state.loading">
      <sidebar id="sidebar-wrapper" class="container-fluid"></sidebar>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <ul class="nav nav-tabs">
            <li ui-sref="generators" ui-sref-active="active">
              <a>
              {{ 'INDEX.MATTER' | translate }}
            </a>
            </li>
            <li ui-sref="upgrades" ui-sref-active="active">
              <a>
              {{ 'UPGRADE' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.exotic_gate" ui-sref="exotic" ui-sref-active="active">
              <a>
              {{ 'INDEX.EXOTIC' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.dark_gate" ui-sref="dark" ui-sref-active="active">
              <a>
              {{ 'INDEX.DARK' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.ion" ui-sref="redox" ui-sref-active="active">
              <a>
              {{ 'INDEX.REDOX' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.reaction_gate" ui-sref="reactions" ui-sref-active="active">
              <a>
              {{ 'INDEX.REACTIONS' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.fusion_gate" ui-sref="fusion" ui-sref-active="active">
              <a>
              {{ 'INDEX.FUSION' | translate }}
            </a>
            </li>
            <li ng-if="state.player.unlocks.table_gate" ui-sref="elements" ui-sref-active="active">
              <a>{{ 'INDEX.TABLE' | translate }}</a>
            </li>
            <li ui-sref="achievements" ui-sref-active="active">
              <a>{{ 'INDEX.ACHIEVEMENTS' | translate }}</a>
            </li>
            <li ui-sref="dashboard" ui-sref-active="active">
              <a>{{ 'INDEX.DASHBOARD' | translate }}</a>
            </li>
            <li ui-sref="statistics" ui-sref-active="active">
              <a>{{ 'INDEX.STATS' | translate }}</a>
            </li>
            <li ui-sref="options" ui-sref-active="active">
              <a>{{ 'INDEX.OPTIONS' | translate }}</a>
            </li>
          </ul>
          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert"  translate="INDEX.DEV_WARNING"></div>
            </div>
            <div class="col-xs-12" ng-if="state.player.offline > 0">
              <p>{{ 'INDEX.FASTER_TICKS' | translate }}</p>
              {{ 'INDEX.ACTIVATE' | translate }} <input type="checkbox" ng-model="state.fasterTicks">
              <p>{{state.player.offline}}/{{util.calculateValue(data.global_upgrades.offline_time.power.base, data.global_upgrades.offline_time.power, state.player.global_upgrades.offline_time)}}
              </p>
              <progress value="{{state.player.offline/util.calculateValue(data.global_upgrades.offline_time.power.base,
                  data.global_upgrades.offline_time.power,
                  state.player.global_upgrades.offline_time)*100}}" max="100">{{state.player.offline/state.offlineCyclesTotal*100}} %</progress>
            </div>
            <ui-view></ui-view>
          </div>
        </div>
      </div>
    </div>
    <div class="achieve achievealert animif" ng-show="state.isToastVisible" ng-cloak>
      <div class="container alert alert-success">
        <button type="button" class="close" ng-click="state.removeToast()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{ 'INDEX.ACHIEVEMENT' | translate }}</h3>
        <h2>{{state.toast[0]}}</h2>
      </div>
    </div>
  </div>
</body>

</html>
