{
  "parserOptions": {
        "ecmaVersion": 6,
    },

  "env": {
    "browser": true,
  },

  "globals": {
    "angular": true
  },

  "rules": {
    "comma-dangle": 1,
    "no-cond-assign": 1,
    "no-console": 1,
    "no-constant-condition": 1,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-unreachable": 1,
    "use-isnan": 1,
    "valid-typeof": 1,

    "curly": 0,
    "default-case": 1,
    "dot-notation": 1,
    "eqeqeq": 1,
    "guard-for-in": 0,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-floating-decimal": 1,
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-multi-spaces": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-self-compare": 1,
    "no-warning-comments": 1,
    "radix": 1,

    "strict": [1,"global"],

    "no-shadow": 1,
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,

    "no-var": 1,
  }
}
