<!DOCTYPE html>

<html>
<head>
  <meta content="text/html; charset=us-ascii" http-equiv=
  "Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-animate.min.js"></script>
  <script type="text/javascript" src="js/data.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/incremental_table_elements.js"></script>
  <script type="text/javascript" src="js/ziggurat.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title>The Incremental Table of Elements</title>
</head>

<body class="ng-scope theme-none" ng-app="incremental" ng-controller="IncCtrl">
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand page-title">
          	The Incremental Table of Elements 
          	<small>by angarg12</small>
          </span> 
          <span class="navbar-brand">
          	<span class="text-muted small">v{{version}}</span>
          </span>
        </div>         
      </div>
    </div>

    <div class="viewwrap">
      <div>
        <div class="ng-scope ng-isolate-scope">
          <ul class="nav nav-tabs ng-scope" role="tablist">
          	<li ng-repeat="tab in filterAndOrder(tabs, tabs)" 
          		ng-class="{active: current_tab === tab.name}">
		        <a class="ng-binding" ng-click="updateCurrent('current_tab',tab.name)"> {{tab.name}} 
		        	<span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="tab.value.has_new()"></span>
		        </a>
		    </li>
          </ul>
        </div>

        <div class="tab-content ng-scope" id="elements">
          <div class="tab-pane row" ng-class="{active: current_tab == 'Elements'}">
            <div class="col-lg-8 col-lg-push-3">
              <h2>{{elements[current_element].name}}</h2>
              <h3><span ng-bind-html="trustHTML(prettifyNumber(elementProduction(current_element)))"></span> {{current_element}}/s</h3>
              <ul ng-if="player.unlocks.isotope">
              	 <li>
		          	<span ng-bind-html="trustHTML(getHTML(current_element))"></span>: {{(resources[current_element].ratio*100).toFixed(4)}}%
		         </li>
		         <li ng-repeat="isotope in filterAndOrder(elements[current_element].isotopes, resources)">
		         	<span ng-bind-html="trustHTML(getHTML(isotope.name))"></span>: {{(resources[isotope.name].ratio*100).toFixed(4)}}%
		         </li>
              </ul>
              <div>
                <div>
                  <table class="table">
                    <tbody>
                      <tr ng-repeat="generator in filterAndOrder(generators, generators)">
                      	<td>
                          <div class="pull-left">
                           {{generator.name}}: {{generator.value.power}} {{current_element}}/s
                          </div>
                        </td>
                        <td>
                          <div class="pull-left" ng-bind-html="trustHTML(prettifyNumber(player.elements[current_element].generators[generator.name].level))"></div>
                        </td>                        
                        <td>
                          <div class="pull-left">
                            Total <span ng-bind-html="trustHTML(prettifyNumber(tierProduction(generator.name,current_element)))"></span> {{current_element}}/s
                          </div>
                        </td>
                        <td>
                          <div class="pull-left" ng-bind-html="trustHTML(prettifyNumber(generatorPrice(generator.name, current_element)))"></div> &nbsp;{{current_element}}
                        </td>
                        <td>
                          <div class="pull-left">
                            <button class="btn btn-default"
                            ng-click="buyGenerator(generator.name, current_element)"
                            ng-class="{disabled: generatorPrice(generator.name, current_element) > player.resources[current_element].number}">Buy</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
				
				<div ng-if="player.unlocks.reactions && 
				filterAndOrder(reactions[current_element].ionization, reactions[current_element].ionization).length > 0 ||
filterAndOrder(reactions[current_element].electron_affinity, reactions[current_element].electron_affinity).length > 0 || 
filterAndOrder(reactions[current_element].binding_energy, reactions[current_element].binding_energy).length > 0 ||
filterAndOrder(reactions[current_element].synthesis, synthesis).length > 0">
                <hr>
                <div ng-if="filterAndOrder(reactions[current_element].ionization, reactions[current_element].ionization).length > 0 ||
filterAndOrder(reactions[current_element].electron_affinity, reactions[current_element].electron_affinity).length > 0 || 
filterAndOrder(reactions[current_element].binding_energy, reactions[current_element].binding_energy).length > 0">
                  <h3>Reactions</h3>
                  <div ng-if="filterAndOrder(reactions[current_element].ionization, reactions[current_element].ionization).length > 0">
                  	  <h4>Ionization</h4>
		              <table class="table">
		                <tbody>
		                  <tr ng-repeat="ionization in filterAndOrder(reactions[current_element].ionization, reactions[current_element].ionization)">
		                    <td width=50%>
		                      <div class="pull-left">
		                        <span ng-bind-html="trustHTML(reactionFormat(ionization.value[current_element][$index],ionization.value))"></span>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left">
		                        <input type="number" 
		                        value="1" 
		                        min="1"
		                        ng-init="ionization.value[current_element][$index] = ionization.value[current_element][$index] || 1" 
		                        ng-model="ionization.value[current_element][$index]">
		                        	<button class="btn btn-default"
		                        	ng-click="react(ionization.value[current_element][$index], ionization.value)"
		                        	ng-class="{disabled: !isReactionCostMet(ionization.value[current_element][$index], ionization.value)}">React</button>
		                        </input>
		                      </div>
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
                  </div>
                  <div ng-if="filterAndOrder(reactions[current_element].electron_affinity, reactions[current_element].electron_affinity).length > 0">
		              <h4>Electron affinity</h4>
		              <table class="table">
		                <tbody>
		                  <tr ng-repeat="electron_affinity in filterAndOrder(reactions[current_element].electron_affinity, reactions[current_element].electron_affinity)">
		                    <td width=50%>
		                      <div class="pull-left">
		                      	<span ng-bind-html="trustHTML(reactionFormat(electron_affinity.value[current_element][$index],electron_affinity.value))"></span>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left">
		                        <input type="number" 
		                        value="1" 
		                        min="1"
		                        ng-init="electron_affinity.value[current_element][$index] = electron_affinity.value[current_element][$index] || 1" 
		                        ng-model="electron_affinity.value[current_element][$index]">
		                        <button class="btn btn-default"
		                        	ng-click="react(electron_affinity.value[current_element][$index], electron_affinity.value)"
		                        	ng-class="{disabled: !isReactionCostMet(electron_affinity.value[current_element][$index], electron_affinity.value)}">React</button>
		                        </input>
		                      </div>
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
                  </div>
                  <div ng-if="filterAndOrder(reactions[current_element].binding_energy, reactions[current_element].binding_energy).length > 0">
		              <h4>Binding energy</h4>
		              <table class="table">
		                <tbody>
		                  <tr ng-repeat="binding in filterAndOrder(reactions[current_element].binding_energy, reactions[current_element].binding_energy)">
		                    <td width=50%>
		                      <div class="pull-left">
		                        <span ng-bind-html="trustHTML(reactionFormat(binding.value[current_element][$index],binding.value))"></span>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left">
		                        <input type="number" 
		                        min="1"
		                        ng-init="binding.value[current_element][$index] = binding.value[current_element][$index] || 1" 
		                        ng-model="binding.value[current_element][$index]">
		                        <button class="btn btn-default"
		                        	ng-click="react(binding.value[current_element][$index], binding.value)"
		                        	ng-class="{disabled: !isReactionCostMet(binding.value[current_element][$index], binding.value)}">React</button>
		                        </input>
		                      </div>
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
                    </div>
                  </div>
                  <div ng-if="filterAndOrder(reactions[current_element].synthesis, synthesis).length > 0">
		              <h3>Synthesis</h3>
		              <table class="table">
		                <tbody>
		                  <tr ng-repeat="syn in filterAndOrder(reactions[current_element].synthesis, synthesis)">
		                    <td width=50%>
		                      <div class="pull-left"
									ng-class="{'text-muted': player.elements[current_element].synthesis[syn.name].active <= 0}">
		                        <span ng-bind-html="trustHTML(reactionFormat(synthesisPower(current_element, syn.name),synthesis[syn.name]))"></span>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left" ng-if="player.elements[current_element].synthesis[syn.name].number > 0">
		                        {{player.elements[current_element].synthesis[syn.name].active}}/{{player.elements[current_element].synthesis[syn.name].number}} 
		                      </div>
		                    </td>
		              		<td>
		                      <div class="pull-left" ng-if="player.elements[current_element].synthesis[syn.name].number > 0">
		                        <button class="btn btn-default"
		                        ng-disabled="player.elements[current_element].synthesis[syn.name].active >= player.elements[current_element].synthesis[syn.name].number"
		                        ng-click="player.elements[current_element].synthesis[syn.name].active = player.elements[current_element].synthesis[syn.name].active+1"
		                        ng-class="{disabled: player.elements[current_element].synthesis[syn.name].active >= player.elements[current_element].synthesis[syn.name].number}">+</button>
		                        <button class="btn btn-default"
		                        ng-disabled="player.elements[current_element].synthesis[syn.name].active <= 0"
		                        ng-click="player.elements[current_element].synthesis[syn.name].active = player.elements[current_element].synthesis[syn.name].active-1"
		                        ng-class="{disabled: player.elements[current_element].synthesis[syn.name].active <= 0}">-</button>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left">
		                        <span ng-bind-html="trustHTML(compoundFormat(synthesisMultiplier(current_element, syn.name),synthesis[syn.name].reactant))"></span>
		                      </div>
		                    </td>
		                    <td>
		                      <div class="pull-left">
		                        <button class="btn btn-default"
		                        ng-click="buySynthesis(current_element, syn.name)"
		                        ng-class="{disabled: !isSynthesisCostMet(current_element, syn.name)}">Buy</button>
		                      </div>
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
                  </div>
                </div>
				
                <div ng-if="player.elements[current_element].upgrades.unlocked">
                <hr>
                  <h4>Upgrades</h4>
                  <table class="table">
                    <tbody>
                      <tr ng-repeat="upgrade in filterAndOrder(upgrades,upgrades)">
                        <td>
                          <div class="pull-left">
                            {{upgrade.name}}
                          </div>
                        </td>
                        <td>
                          <div class="pull-left">
                            {{upgrade.value.description}}
                          </div>
                        </td>
                        <td>
                        	<div ng-if="!player.elements[current_element].upgrades[upgrade.name].bought">
                        		<span class="pull-left" ng-bind-html="trustHTML(prettifyNumber(upgrade.value.price))"></span> &nbsp;{{current_element}}
                        	</div>
                        </td>
                        <td>
                          <div class="pull-left" ng-if="!player.elements[current_element].upgrades[upgrade.name].bought">
                            <a class="btn btn-default"
		                        ng-click="buyUpgrade(upgrade.name, current_element)"
		                        ng-class="{disabled: upgrade.value.price > player.resources[current_element].number}">
		                        Buy
		                    </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-lg-pull-8">
              <table class="table table-hover element-table no_bottom">
                <tbody ng-repeat="resource in filterAndOrder(player.resources, resources)" 
                	ng-mouseover="resource.value.is_new = false"
                	class="">
                  <tr>
		            <td width=15%>
		            	<span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="resource.value.is_new"></span>
		            </td>
		            <td width=35% colspan="2">
		              <span class="pull-left by-icon" ng-bind-html="trustHTML(getHTML(resource.name))"></span>&nbsp;
		              <span ng-if="radioisotopes.indexOf(resource.name) != -1" title="Radioctive" class="pull-left icon">&#9762;</span> &nbsp;
		              <span ng-if="free_radicals.indexOf(resource.name) != -1" title="Free radical" class="pull-left icon">&bull;</span>&nbsp;
		              <span ng-if="unstables.indexOf(resource.name) != -1" title="Unstable" class="pull-left icon">&#8967;</span>   
		            </td>
		            <td width=50%>
		              <div class="pull-left" ng-bind-html="trustHTML(prettifyNumber(resource.value.number))"></div>
		            </td>
                  </tr>
                  <tr ng-if="resources[resource.name].decay != null">
		            <td width=15%>
		            </td>
		            <td width=20%>
		              <div class="pull-right">&#9495;</div>		              
		            </td>
		            <td width=15%>
		            	t<sub>1/2</sub>
		            </td>
		            <td width=50%>
		        		<div class="pull-left" ng-bind-html="trustHTML(prettifyNumber(resources[resource.name].decay.half_life))"></div> s
		            </td>
                  </tr>
                  <tr ng-if="resources[resource.name].decay != null && player.unlocks.radioactive_decay">
		            <td width=15%>
		            </td>
		            <td width=20%>
		              <div class="pull-right" >&#9495;</div>	              
		            </td>
		            <td width=15%>
		            	<div ng-if="resources[resource.name].decay.decay_type" ng-bind-html="trustHTML(getHTML(resources[resource.name].decay.decay_type))"></div>
		            </td>
		            <td width=50%>
		            	<div class="pull-left" ng-bind-html="trustHTML(decayFormat(resources[resource.name].decay))"></div>
		            </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="col-lg-1 col-lg-pull-0 right-box">
              <table class="table table-hover element-table">
                <tbody>
                  <tr ng-repeat="element in filterAndOrder(player.elements, elements)" ng-class="{active:current_element===element.name}">
					<td>
                      <div class="pull-left" ng-click="updateCurrent('current_element', element.name)">
                        <a>
                        	{{elements[element.name].name}}
                        	<span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="elements[element.name].has_new()"></span>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-content ng-scope" id="encyclopedia">
          <div class="tab-pane row" ng-class="{active: current_tab == 'Encyclopedia'}">
            <div class="col-lg-9 col-lg-push-3">
              <h3><a target="_blank" href="{{encyclopedia[current_entry].link}}">{{current_entry}}</a></h3>
              <div ng-bind-html="trustHTML(encyclopedia[current_entry].description)"></div>
            </div>

            <div class="col-lg-3 col-lg-pull-9">
              <table class="table table-hover element-table no_bottom">
                <tbody>
                  <tr ng-repeat="entry in filterAndOrder(encyclopedia, encyclopedia)" ng-mouseover="player.encyclopedia[entry.name].is_new = false" ng-click="updateCurrent('current_entry', entry.name)">
                  <td width=15%><span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="player.encyclopedia[entry.name].is_new"></span></td>

                    <td><a>{{entry.name}}</a></td>
                  </tr>
                </tbody>
              </table>

              <p style="padding-bottom:200px"></p>
            </div>
          </div>
        </div>
        
        <div class="tab-content ng-scope" id="periodic_table">
          <div class="tab-pane table_tab" ng-class="{active: current_tab == 'Periodic Table'}">
            <div class="col-lg-11 col-lg-push-1">
              <div class="title">Periodic Table of Elements</div>
		      <div class="element_table">
					<div class="element_info" ng-show="hover_element != ''">
						<div class="fl element_basic"
						ng-class="{element_purchased: player.elements[hover_element].unlocked === true,
				   							element_unavailable: elements[hover_element].disabled === true,
				   							element_cost_not_met: player.elements[hover_element].unlocked === false && !isElementCostMet(hover_element),
				   							element_cost_met: player.elements[hover_element].unlocked === false && isElementCostMet(hover_element)}">
							<div id="symbol" class="element_symbol">{{hover_element}}</div>
							<div id="ename" class="symbol_name"
								ng-class="{element_purchased_dark: player.elements[hover_element].unlocked == true,
				   							element_unavailable_dark: elements[hover_element].disabled === true,
				   							element_cost_not_met_dark: player.elements[hover_element].unlocked === false && !isElementCostMet(hover_element),
				   							element_cost_met_dark: player.elements[hover_element].unlocked === false && isElementCostMet(hover_element)}" >
								{{elements[hover_element].name}}
							</div>
						</div>
						<div class="fl element_details" ng-if="player.elements.hasOwnProperty(hover_element) && player.elements[hover_element].unlocked != true">
							<div>Cost</div>
							<div><span ng-bind-html="trustHTML(prettifyNumber(elementPrice(hover_element)))"></span> e-</div> 
							<div><span ng-bind-html="trustHTML(prettifyNumber(elementPrice(hover_element)))"></span> p</div> 
							<div><span ng-bind-html="trustHTML(prettifyNumber(elementPrice(hover_element)))"></span> n</div>
						</div>
					</div>
					<div ng-repeat="element_row in periodic_table"
						class="element_row">
						<span ng-repeat="element in element_row track by $index">
				   			<div ng-class="{element_purchased: player.elements[element].unlocked === true,
				   							element_unavailable: elements[element].disabled === true,
				   							element_cost_not_met: player.elements[element].unlocked === false && !isElementCostMet(element),
				   							element_cost_met: player.elements[element].unlocked === false && isElementCostMet(element)}" 
				   				ng-if="element != ''" 
				   				ng-mouseover="updateCurrent('hover_element',element)"
				   				ng-mouseleave="updateCurrent('hover_element','')"
				   				ng-click="buyElement(element)"
				   				class="fl element col-centered">
								<div class="clear element_name">{{element}}</div>
								<div ng-class="{element_purchased_dark: player.elements[element].unlocked == true,
				   							element_unavailable_dark: elements[element].disabled === true,
				   							element_cost_not_met_dark: player.elements[element].unlocked === false && !isElementCostMet(element),
				   							element_cost_met_dark: player.elements[element].unlocked === false && isElementCostMet(element)}" 
				   							class="clear element_no">{{elements[element].order}}</div>
							</div>
				   			<div ng-if="element == ''" class="fl element_blank col-centered"></div>
						</span>
					</div>
		    	</div>
            </div>            
            <div class="col-lg-1 col-lg-pull-11">
            <table class="table table-hover element-table no_bottom">
                <tbody ng-repeat="resource in filterAndOrder(player.resources, resources)">
                  <tr>
		            <td width=15%>
		              <span class="pull-left by-icon" ng-bind-html="trustHTML(getHTML(resource.name))"></span>
		            </td>
		            <td width=85%>
		              <div class="pull-left" ng-bind-html="trustHTML(prettifyNumber(resource.value.number))"></div>
		            </td>
                  </tr>
                </tbody>
              </table>
            </div>   
          </div>
        </div>
        
        
        <div class="tab-content ng-scope" id="options">
          <div class="tab-pane row" ng-class="{active: current_tab == 'Options'}">
            <div class="col-lg-2">
              <h1>Options</h1>              
              <br>
              <button class="btn btn-default btn-block"
                    ng-click="save()">Save</button>
              <br>
              <button class="btn btn-default btn-block"
                    ng-click="reset(true)">Erase save</button>               
            </div>
            <div class="col-lg-12" ng-if="numberUnlocked() > 0">
              <div ng-if="numberUnlocked() < 10">
		          <br>
		          Unlocked: {{numberUnlocked()}}/??
              </div>
              <div ng-if="numberUnlocked() >= 10">
		          <br>
		          Unlocked: {{numberUnlocked()}}/{{numberUnlocks()}}
              </div>   
            </div>
            <div class="col-lg-12">
              <br>
              Github: <a href="https://github.com/angarg12/incremental_table_elements">https://github.com/angarg12/incremental_table_elements</a>   
            </div>
            
              <p style="padding-bottom:200px"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-cloak>
	  <div class="achieve achievealert animif" ng-show="is_toast_visible">
		<div class="container alert alert-success">
		    <h3>New unlock:</h3>
		    <h2>{{toast[0]}}</h2>
		    <button type="button" 
		    	class="close" 
		    	data-dismiss="alert" 
		    	ng-click="removeToast()"
		    	ng-disabled="!is_toast_visible">
		    		<span aria-hidden="true">&times;</span>
		    		<span class="sr-only">Close</span>
		    </button>
		</div>
	  </div>
  </div>
</body>
</html>
