<div class="tab-pane row">
  <div class="col-lg-9 col-lg-push-3">
     <iframe ng-src="{{current_encyclopedia_url}}"></iframe>
  </div>
  <div class="col-lg-3 col-lg-pull-9">
    <table class="table table-hover element-table no_bottom">
      <tbody>
        <tr class="animif" ng-repeat="entry in visibility.visibleEncyclopediaEntries()" ng-mouseover="player.data.encyclopedia[entry].is_new = false" ng-click="util.updateEncyclopediaEntry('current_entry', entry)">
          <td width=15%><span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="player.data.encyclopedia[entry].is_new"></span></td>
          <td><a>{{encyclopedia[entry].name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
