<div class="tab-pane row" ng-class="{active: current_tab == 'Elements'}">
  <div class="col-lg-3">
    <table class="table table-hover element-table no_bottom" data-spy="affix" data-offset-top="150">
      <tbody class="container"
        ng-repeat="key in visibility.visibleResources()"
        ng-mouseover="player.data.resources[key].is_new = false">
        <tr class="animif row">
          <td class="col-lg-2">
            <span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="player.data.resources[key].is_new"></span>
          </td>
          <td class="col-lg-4">
            <span class="pull-left by-icon" ng-bind-html="util.trustHTML(util.getHTML(key))"></span>
            <span ng-if="radioisotopes.indexOf(key) != -1" class="pull-left icon">&#9762;</span>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.resources[key].number))"></div>
          </td>
        </tr>
        <tr class="animif row" ng-if="resources[key].decay != null">
          <td class="col-lg-2"></td>
          <td class="col-lg-4 text-center">
            t<sub>1/2</sub>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(resources[key].decay.half_life))"></div>
            s
          </td>
        </tr>
        <!-- XXX: We tie this unlock to beta decay to avoid introducing a new generic unlock "decay". Since beta
          decay is the first and only decay type on the game, this works just fine.
          -->
        <tr class="animif row" ng-if="resources[key].decay != null && player.data.unlocks.beta_decay">
          <td class="col-lg-2"></td>
          <td class="col-lg-4 text-center">
            <div ng-if="resources[key].decay.decay_type" ng-bind-html="util.trustHTML(util.getHTML(resources[key].decay.decay_type))"></div>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(format.decayFormat(resources[key].decay))"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-8">
    <h2>{{elements[current_element].name}}</h2>
    <h3><span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.elementProduction(current_element)))" id="production_total"></span> {{current_element}}/s</h3>
    <ul ng-if="player.data.unlocks.isotope">
      <li>
        <span ng-bind-html="util.trustHTML(util.getHTML(current_element))"></span>: {{(resources[current_element].ratio*100).toFixed(4)}}%
      </li>
      <li class="animif" ng-repeat="isotope in elements[current_element].isotopes" ng-if="player.data.resources[isotope].unlocked">
        <span ng-bind-html="util.trustHTML(util.getHTML(isotope))"></span>: {{(resources[isotope].ratio*100).toFixed(4)}}%
      </li>
    </ul>
    <div>
      <div>
        <table class="table">
          <tr class="animif" ng-repeat="name in visibility.visibleGenerators()">
              <td class="animif col-md-3">
                <span class="pull-left">
                {{name}}:&nbsp;
                </span>
                <span class="pull-left">
                &nbsp;<span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.generatorProduction(name,current_element)))"></span> /s
                </span>
              </td>
              <td class="animif col-md-1">
                <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.elements[current_element].generators[name].level))"></div>
              </td>
              <td class="animif col-md-3">
                <div class="pull-left">
                  Total <span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.tierProduction(name,current_element)))"></span> {{current_element}}/s
                </div>
              </td>
              <td class="animif col-md-3">
                <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(generator.generatorPrice(name, current_element)))"></div>
                &nbsp;{{current_element}}
              </td>
              <td class="animif col-md-3">
                <div class="pull-left">
                  <button class="btn btn-default button-small"
                    ng-click="generator.buyGenerators(name, current_element, 1)"
                    ng-class="{disabled: generator.generatorPrice(name, current_element) > player.data.resources[current_element].number}">1</button>
                </div>
                <div class="pull-left">
                  <button class="btn btn-default button-small"
                    ng-click="generator.buyGenerators(name, current_element, 10)"
                    ng-class="{disabled: generator.generatorPrice(name, current_element) > player.data.resources[current_element].number}">10</button>
                </div>
                <!-- crappy workaround since it doesn't recognize the literal Infinity -->
                <div class="pull-left">
                  <button class="btn btn-default button-small"
                    ng-click="generator.buyGenerators(name, current_element, 1/0)"
                    ng-class="{disabled: generator.generatorPrice(name, current_element) > player.data.resources[current_element].number}">&#8892;</button>
                </div>
              </td>
            </tr>
        </table>
      </div>
      <div ng-if="player.data.unlocks.reactions && (
        visibility.visibleRedox().length > 0 ||
        visibility.visibleBindings().length > 0 ||
        visibility.visibleSyntheses().length > 0)">
        <hr>
        <div ng-if="visibility.visibleRedox().length > 0 ||
          visibility.visibleBindings().length > 0">
          <h3>Reactions</h3>
          <div ng-if="visibility.visibleRedox().length > 0">
            <h4>Redox</h4>
            <table class="table">
              <tbody>
                <tr class="animif" ng-repeat="key in visibility.visibleRedox()">
                  <td class="col-md-7" width=50%>
                    <div class="pull-left">
                      <span ng-bind-html="util.trustHTML(format.reactionFormat(redox[key].number,redox[key]))"></span>
                    </div>
                  </td>
                  <td class="col-md-4">
                    <!-- we store the value inside the object itself -->
                    <div class="pull-left">
                      <input type="number"
                        value="1"
                        min="1"
                        ng-init="redox[key].number = redox[key].number || 1"
                        ng-model="redox[key].number">
                      <button class="btn btn-default"
                        ng-click="reaction.react(redox[key].number, redox[key])"
                        ng-class="{disabled: !reaction.isReactionCostMet(redox[key].number, redox[key])}">React</button>
                      </input>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="visibility.visibleBindings().length > 0">
            <h4>Binding energy</h4>
            <table class="table">
              <tbody>
                <tr class="animif" ng-repeat="key in visibility.visibleBindings()">
                  <td class="col-md-8" width=50%>
                    <div class="pull-left">
                      <span ng-bind-html="util.trustHTML(format.reactionFormat(binding_energy[key].number,binding_energy[key]))"></span>
                    </div>
                  </td>
                  <td class="col-md-4">
                    <div class="pull-left">
                      <input type="number"
                        min="1"
                        ng-init="binding_energy[key].number = binding_energy[key].number || 1"
                        ng-model="binding_energy[key].number">
                      <button class="btn btn-default"
                        ng-click="reaction.react(binding_energy[key].number, binding_energy[key])"
                        ng-class="{disabled: !reaction.isReactionCostMet(binding_energy[key].number, binding_energy[key])}">React</button>
                      </input>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="visibility.visibleSyntheses().length > 0">
          <h3>Syntheses</h3>
          <table class="table">
            <tbody>
              <tr class="animif" ng-repeat="syn in visibility.visibleSyntheses()"
                ng-mouseover="player.data.syntheses[syn].is_new = false">
                <td class="col-md-4" width=50%>
                  <div class="pull-left"
                    ng-class="{'text-muted': player.data.syntheses[syn].active <= 0}">
                    <span class="glyphicon glyphicon-exclamation-sign" title="New available" ng-if="player.data.syntheses[syn].is_new"></span>
                    <span ng-bind-html="util.trustHTML(format.reactionFormat(synthesis.synthesisPower(syn),syntheses[syn]))"></span>
                  </div>
                </td>
                <td class="col-md-1">
                  <div class="pull-left" ng-if="player.data.syntheses[syn].number > 0">
                    {{player.data.syntheses[syn].active}}/{{player.data.syntheses[syn].number}}
                  </div>
                </td>
                <td class="col-md-2">
                  <div class="pull-left" ng-if="player.data.syntheses[syn].number > 0">
                    <button class="btn btn-default button-small"
                      ng-disabled="player.data.syntheses[syn].active >= player.data.syntheses[syn].number"
                      ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].number"
                      ng-class="{disabled: player.data.syntheses[syn].active >= player.data.syntheses[syn].number}">&#8892;</button>
                    <button class="btn btn-default button-small"
                      ng-disabled="player.data.syntheses[syn].active >= player.data.syntheses[syn].number"
                      ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].active+1"
                      ng-class="{disabled: player.data.syntheses[syn].active >= player.data.syntheses[syn].number}">+</button>
                    <br>
                    <button class="btn btn-default button-small"
                      ng-disabled="player.data.syntheses[syn].active <= 0"
                      ng-click="player.data.syntheses[syn].active = 0"
                      ng-class="{disabled: player.data.syntheses[syn].active <= 0}">&#8891;</button>
                    <button class="btn btn-default button-small"
                      ng-disabled="player.data.syntheses[syn].active <= 0"
                      ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].active-1"
                      ng-class="{disabled: player.data.syntheses[syn].active <= 0}">-</button>
                  </div>
                </td>
                <td class="col-md-2">
                  <div class="pull-left">
                    <span ng-bind-html="util.trustHTML(format.compoundFormat(synthesis.synthesisMultiplier(syn),syntheses[syn].reactant))"></span>
                  </div>
                </td>
                <td class="col-md-3">
                  <div class="pull-left">
                    <button class="btn btn-default button-small"
                      ng-click="synthesis.buySynthesis(syn, 1)"
                      ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">1</button>
                  </div>
                  <div class="pull-left">
                    <button class="btn btn-default button-small"
                      ng-click="synthesis.buySynthesis(syn, 10)"
                      ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">10</button>
                  </div>
                  <div class="pull-left">
                    <button class="btn btn-default button-small"
                      ng-click="synthesis.buySynthesis(syn, 1/0)"
                      ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">&#8892;</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="player.data.unlocks.upgrade">
        <hr>
        <h4>Upgrades</h4>
        <table class="table">
          <tbody>
            <tr class="animif" ng-repeat="generator in visibility.visibleGenerators()|filter:upgrade.filterUpgrade">
              <td class="animif col-md-2">
                <div class="pull-left">
                  {{generator}}
                </div>
              </td>
              <td class="animif col-md-1" ng-repeat="up in generators[generator].upgrades">
                <a class="btn btn-default"
                  ng-if="visibility.isUpgradeVisible(up)"
                  ng-click="upgrade.buyUpgrade(up, current_element)"
                  ng-class="{disabled: upgrades[up].price > player.data.resources[current_element].number && !player.data.elements[current_element].upgrades[up].bought,
                  active: player.data.elements[current_element].upgrades[up].bought}">
                {{upgrades[up].description}}
                </a>
              </td>
              <td class="animif col-md-2">
                <div ng-show="upgrade.lastUpgradeTierPrice(generator) != null">
                  <span class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(upgrade.lastUpgradeTierPrice(generator)))"></span> &nbsp;{{current_element}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-1 right-box" ng-if="visibility.visibleElements().length > 1">
    <table class="table table-hover element-table">
      <tr class="animif" ng-repeat="key in visibility.visibleElements()" ng-class="{active:current_element===key}">
        <td>
          <div class="pull-left" ng-click="util.updateCurrent('current_element', key)">
            <a>
            {{elements[key].name}}
            <span class="glyphicon glyphicon-exclamation-sign" ng-if="visibility.elementHasNew(key)"></span>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
