<div class="tab-pane row">
  <div class="col-lg-2">
    <table class="table table-hover element-table no_bottom">
      <tr class="animif row" ng-repeat="key in table_resources">
        <td class="col-lg-3">
          <div ng-bind-html="util.trustHTML(util.getHTML(key))"></div>
        </td>
        <td class="col-lg-9">
          <div ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.resources[key].number))"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-10">
    <div class="element_table">
      <div class="element_info" ng-show="elements[hover_element] != null">
        <div class="fl element_basic"
          ng-class="{element_purchased: player.data.elements[hover_element].unlocked === true,
          element_unavailable: elements[hover_element].disabled === true,
          element_cost_not_met: player.data.elements[hover_element].unlocked === false && !element.isElementCostMet(hover_element),
          element_cost_met: player.data.elements[hover_element].unlocked === false && element.isElementCostMet(hover_element)}">
          <div id="symbol" class="element_symbol">{{hover_element}}</div>
          <div id="ename" class="symbol_name"
            ng-class="{element_purchased_dark: player.data.elements[hover_element].unlocked == true,
            element_unavailable_dark: elements[hover_element].disabled === true,
            element_cost_not_met_dark: player.data.elements[hover_element].unlocked === false && !element.isElementCostMet(hover_element),
            element_cost_met_dark: player.data.elements[hover_element].unlocked === false && element.isElementCostMet(hover_element)}" >
            {{elements[hover_element].name}}
          </div>
        </div>
        <div class="fl element_details" ng-if="player.data.elements.hasOwnProperty(hover_element) && player.data.elements[hover_element].unlocked != true">
          <div>Cost</div>
          <div><span ng-bind-html="util.trustHTML(util.prettifyNumber(element.elementPrice(hover_element)))"></span> e-</div>
          <div><span ng-bind-html="util.trustHTML(util.prettifyNumber(element.elementPrice(hover_element)))"></span> p</div>
          <div><span ng-bind-html="util.trustHTML(util.prettifyNumber(element.elementPrice(hover_element)))"></span> n</div>
        </div>
      </div>
      <div ng-repeat="element_row in periodic_table"
        class="element_row">
        <span ng-repeat="elem in element_row track by $index">
          <div ng-class="{element_purchased: player.data.elements[elem].unlocked === true,
            element_unavailable: elements[elem].disabled === true,
            element_cost_not_met: player.data.elements[elem].unlocked === false && !element.isElementCostMet(elem),
            element_cost_met: player.data.elements[elem].unlocked === false && element.isElementCostMet(elem)}"
            ng-if="elem != ''"
            ng-mouseover="util.updateCurrent('hover_element', elem)"
            ng-mouseleave="util.updateCurrent('hover_element', '')"
            ng-click="element.buyElement(elem)"
            class="fl element col-centered">
            <div class="clear element_name">{{elem}}</div>
            <div ng-class="{element_purchased_dark: player.data.elements[elem].unlocked == true,
              element_unavailable_dark: elements[elem].disabled === true,
              element_cost_not_met_dark: player.data.elements[elem].unlocked === false && !element.isElementCostMet(elem),
              element_cost_met_dark: player.data.elements[elem].unlocked === false && element.isElementCostMet(elem)}"
              class="clear element_no">{{elements[elem].number}}</div>
          </div>
          <div ng-if="elem == ''" class="fl element_blank col-centered"></div>
        </span>
      </div>
    </div>
  </div>
</div>
