.navbar-brand {
  padding-bottom:55px;
}

.navbar-brand small {
  display:block;
  font-size:85%;
}

body{
    padding-bottom:170px;
}

.affix {
	top:0;
	width:20%;
}

.element-table tr:first-child td {
    border: 0px none;
}

.right-box {
	padding-left:0px;
}

.no_bottom {
    margin-bottom: 0px;
}

.table > tbody > tr > td, .table > tbody > tr > td > span {
     vertical-align: middle;
}

.icon {
	font-size:150%;
}

.by-icon {
	line-height:2.14305;
}

.table_tab {
	text-align: center;
}

.title {
	font-size: 30px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 10px;
	margin-top: 20px;
}

iframe {
    display:block;
    height:600px;
    width:100%;
}

.achievealert {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
.achieve {
  text-align:center;
}
.achieve h3 {
  margin-top:0px;
  margin-bottom:0px;
  font-weight:bold;
  padding-left:1em;
  padding-right:1em;
}

.animif,
.animif.ng-enter.ng-enter-active,
.animif.ng-leave {
    opacity: 1;
}

.animif.ng-hide,
.animif.ng-enter {
    opacity: 0;
}

.animif.ng-hide-add,
.animif.ng-hide-remove,
.animif.ng-enter {
    -webkit-transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -moz-transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -ms-transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -o-transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}

.button-small {
	width:36px;
	height:36px;
}

/* Periodic Table */

.element_table 
{	
	display: inline-block;
	text-align: center;
    float: none;
    margin: auto;
    position: relative;
}

.clear
{
	clear: both;
}

.fl
{
	float: left;
}

.element_row
{
	margin: 0px;
	height: 50px;
	padding: 4px 0 0 4px;
}

.element
{
	position: relative;
	height: 45px;
	width: 45px;
	margin-right: 2px;
}

.element_purchased
{
	background-color:#a2d34d;	
}

.element_purchased_dark
{
	background-color:#458a05;	
}

.element_unavailable
{
	background-color:#cfcfcf;	
}

.element_unavailable_dark
{
	background-color:#858585;	
}

.element_cost_not_met
{
	background-color:#f07049;	
}

.element_cost_not_met_dark
{
	background-color:#e72a00;	
}

.element_cost_met
{
	background-color:#eada24;	
}

.element_cost_met_dark
{
	background-color:#9d6d00;	
}

.element_blank
{
	height: 45px;
	width: 45px;
	margin-right: 2px;
}

.element_no
{
    height: 15px;
    margin-top: 6px;
    text-align: center;
    font-size: 11px;
	color:white;
}

.element_name
{
	text-align: center;
	margin-top: 12px;
    font-size: 18px;
    line-height: 15px;
}

.element_info
{
	left: 98px;
	position: absolute;
	top: 49px;
	overflow: hidden;
}

.element_basic
{
	margin-top:5px;
	width: 93px;
	bottom: 2px;	
	height: 98px;
	text-align: center;
	padding-top: 36px;
    font-size:13px;
    line-height:15px;
}

.element_details
{
	margin-top:5px;
	width: 150px;
	bottom: 2px;	
	text-align: left;
	margin-left: 15px;
}

.bottom
{
	position:absolute;
	bottom:0;
}

.element_symbol
{
    font-size:40px;
    padding-bottom:20px;
    line-height:15px;
}
.symbol_name
{
    line-height:29px;
	height: 29px;
	color:white;
	font-weight: bold;
}

.blank_row
{
    height:20px;
}
