<!DOCTYPE html>
<input ng-model="ct.searchText"><span class="mdi mdi-18px mdi-magnify"></span>
<div ng-repeat="(symbol, element) in ct.data.elements"
    ng-if="ct.state.player.elements[symbol] && ct.resourcesForElement(symbol).length > 0">
  <p>{{element.name}}</p>
  <p ng-repeat="key in ct.resourcesForElement(symbol)"
      class="row">
    <get-html value="key"
              class="col-xs-2"></get-html>
    <pretty value="ct.state.player.resources[key].number"
            class="col-xs-6"></pretty>
    <span class="col-xs-4 sidebar-icons">
      <span ng-if="ct.data.radioisotopes.indexOf(key) != -1"
            class="mdi mdi-18px mdi-radioactive"></span>
    </span>
  </p>
</div>
<div ng-if="ct.resourcesForElement('').length > 0">
  <p>Misc.</p>
  <p ng-repeat="key in ct.resourcesForElement('')"
      class="row">
    <get-html value="key"
              class="col-xs-2"></get-html>
    <pretty value="ct.state.player.resources[key].number"
            class="col-xs-6"></pretty>
    <span class="col-xs-4 sidebar-icons">
      <span ng-if="ct.data.radioisotopes.indexOf(key) != -1"
            class="mdi mdi-18px mdi-radioactive"></span>
    </span>
  </p>
</div>
