<!DOCTYPE html>
<p>Buy new elements to unlock generators and upgrades. Be aware that the price of new elements increases
  with each purchase.</p>
<div class="row">
  <div ng-repeat="(element, value) in ct.data.elements"
       class="col-lg-4">
    <div class="thumbnail">
      <div ng-class="ct.elementClass(element)">
        <h2 class="element_symbol">{{element}}</h2>
      </div>
      <div class="symbol_name"
           ng-class="ct.elementSecondaryClass(element)">
        {{value.name}}
      </div>
      <p>
        Abundance: <pretty value="ct.data.elements[element].abundance*100"></pretty>%
      </p>
      <p>
        Isotopes: {{ct.data.elements[element].isotopes | keylength}}
      </p>
      <p>
        Redox: {{-ct.data.elements[element].electron_affinity.length}},+{{ct.data.elements[element].ionization_energy.length}}
      </p>
      <!-- FIXME: hasownproperty can be deleted after all elements are enabled -->
      <div class="hidden_block"
           ng-show="ct.state.player.elements.hasOwnProperty(element) && ct.state.player.elements[element] != true">
        <p>
          Cost:
          <pretty value="ct.elementPrice"></pretty>
          <get-html value="'dark_matter'"></get-html>
        </p>
        <p ng-click="ct.buyElement(element)"
           class="btn btn-default">
          Buy
        </p>
        {{ct.outcome[element]}}
        <p>
          Success: <pretty value="ct.getChance(element)*100"></pretty>%
        </p>
      </div>
    </div>
  </div>
</div>
