<!DOCTYPE html>
<div ng-repeat="slot in ct.state.player.element_slots track by $index">
  <element-select index="$index"
                  ng-if="!slot"></element-select>
  <div ng-if="slot">
    <h2>{{ct.data.elements[slot.element].name}}</h2>
    <h3>
    <pretty value="ct.state.player.resources[ct.data.elements[slot.element].exotic].number"></pretty>
    <get-html value="ct.data.elements[slot.element].exotic"></get-html>
    (+<pretty value="ct.state.player.resources[ct.data.elements[slot.element].exotic].number*ct.data.constants.EXOTIC_POWER*100"></pretty>%)
    </h3>
    <div ng-if="ct.state.player.cooldowns[$index] === 0">
      <p>Sacrifice your progress to obtain exotic matter. Exotic matter boosts your production for the element by {{ct.data.constants.EXOTIC_POWER*100}}% and unlocks
        new upgrades.
      </p>
      <p>You can spend subatomic particles to boost your exotic matter production.</p>
      <form name="infuse">
        <div ng-repeat="resource in ct.visibleSubatomic()">
          {{resource}}: <input type="number"
                 ng-init="ct.infuse[resource] = 0"
                 min="0"
                 step="any"
                 ng-model="ct.infuse[resource]"
                 ng-change="ct.fixNumber(resource)"
                 pattern="^[^.]*$" />
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.setPercentage(resource, 10)"> 10% </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.setPercentage(resource, 50)"> 50% </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.setPercentage(resource, 100)"> 100% </button> Boost:
          <pretty value="ct.infuseBoost(resource)*100"></pretty>%
        </div>
        Total boost:
        <pretty value="ct.totalInfuseBoost()*100"></pretty>%
        <p>Prestige now to obtain</p>
        <p ng-repeat="(key,value) in ct.exoticProduction(slot.element)">
          <pretty value="value"></pretty>
          <get-html value="key"></get-html>
        </p>
      </div>
      <div ng-if="ct.state.player.cooldowns[$index] > 0">
        <p>Cooldown {{ct.state.player.cooldowns[$index]}} s. During cooldown, no exotic matter will be produced.</p>
      </div>
      <button type="button"
              class="btn btn-default"
              ng-class="{disabled: !ct.isValidInfusion()}"
              ng-click="ct.exoticPrestige($index)">Prestige</button>
    </form>
    <p>You have produced</p>
    <p ng-repeat="key in ct.data.elements[slot.element].includes"
       ng-if="ct.state.player.resources[key].unlocked">
      <get-html value="key"></get-html>
      <pretty value="ct.state.player.statistics.exotic_run[key] || 0"></pretty>
    </p>
    <div class="row">
      <div ng-repeat="up in ct.visibleExoticUpgrades(slot)"
           ng-click="ct.buyExoticUpgrade(up, slot)"
           class="col-xs-12 btn btn-default"
           ng-class="{disabled: ct.data.exotic_upgrades[up].price > ct.state.player.resources[ct.data.elements[slot.element].exotic].number &&
         !ct.state.player.exotic_upgrades[slot.element][up],
         active: ct.state.player.exotic_upgrades[slot.element][up]}">
        <span class="pull-left">
        {{ct.data.exotic_upgrades[up].name}}: {{ct.data.exotic_upgrades[up].description}}
      </span>
        <span class="pull-right">
        <pretty value="ct.data.exotic_upgrades[up].price"></pretty> &nbsp;
        <get-html value="ct.data.elements[slot.element].exotic"></get-html>
      </span>
      </div>
    </div>
  </div>
</div>
