<!DOCTYPE html>
<select name="fusionBeam"
        ng-init="ct.state[ct.source].name = ct.state[ct.source].name || ct.availableIsotopes(ct.state.player)[0]"
        ng-model="ct.state[ct.source].name"
        ng-change="ct.fixNumber(ct.state.player)">
  <option ng-repeat="isotope in ct.availableIsotopes(ct.state.player)"
            value="{{isotope}}">{{isotope}}</option>
</select>
Capacity: <pretty value="ct.getCapacity({resource: ct.state[ct.source].name, player:ct.state.player})"></pretty>
<form name="beam">
  <div>
    {{ct.state[ct.source].name}}:
    <input type="number"
           ng-init="ct.state[ct.source].number = ct.state[ct.source].number || 0"
           min="0"
           step="any"
           ng-model="ct.state[ct.source].number"
           ng-change="ct.fixNumber(ct.state.player)"
           pattern="^[^.]*$" />
    <button type="button"
            class="btn btn-default"
            ng-click="ct.setPercentage(10, ct.state.player)"> 10% </button>
    <button type="button"
            class="btn btn-default"
            ng-click="ct.setPercentage(50, ct.state.player)"> 50% </button>
    <button type="button"
            class="btn btn-default"
            ng-click="ct.setPercentage(100, ct.state.player)"> 100% </button>
  </div>
</form>
