<!DOCTYPE html>
<select name="fusionBeam"
        ng-model="ct.state.player.fusion[0][ct.source].name"
        ng-change="ct.fixNumber(ct.state.player)"
        ng-disabled="ct.state.player.fusion[0].active">
  <option ng-repeat="isotope in ct.availableIsotopes(ct.state.player)"
            value="{{isotope}}">{{isotope}}</option>
</select>
{{ 'FUSION.CAPACITY' | translate }}: <pretty value="ct.getCapacity({resource: ct.state.player.fusion[0][ct.source].name, player:ct.state.player})"></pretty>
<form name="beam">
  <div>
	<br>
    {{ct.state.player.fusion[0][ct.source].name}}: <pretty value="ct.state.player.fusion[0][ct.source].number"></pretty>
	<br> {{ 'FUSION.SET' | translate }}
    <button type="button"
            class="btn btn-default"
            ng-disabled="ct.state.player.fusion[0].active"
            ng-click="ct.setPercentage(10, ct.state.player)"> 10% </button>
    <button type="button"
            class="btn btn-default"
            ng-disabled="ct.state.player.fusion[0].active"
            ng-click="ct.setPercentage(50, ct.state.player)"> 50% </button>
    <button type="button"
            class="btn btn-default"
            ng-disabled="ct.state.player.fusion[0].active"
            ng-click="ct.setPercentage(100, ct.state.player)"> 100% </button>
  </div>
</form>
