<!DOCTYPE html>
<div ng-repeat="slot in ct.state.player.element_slots track by $index">
  <element-select index="$index" ng-if="!slot"></element-select>
  <div ng-if="slot">
    <h2>{{ct.data.elements[slot.element].name}}</h2>
    <h3>
      <pretty value="ct.elementProduction(ct.state.player, slot)" id="production_total"></pretty>
      {{slot.element}}/s
    </h3>
    <ul ng-if="ct.state.player.unlocks.isotope">
      <li ng-repeat="(isotope,_) in ct.data.elements[slot.element].isotopes"
          ng-if="ct.state.player.resources[isotope].unlocked">
        <get-html value="isotope"></get-html>:
        {{ct.data.elements[slot.element].isotopes[isotope].ratio*100 | number: 4}}%
      </li>
    </ul>
    <table class="table">
      <tr>
        <td class="col-md-1">
          Generator
        </td>
        <td class="col-md-2">
          {{slot.element}}/s
        </td>
        <td class="col-md-1">
          Number
        </td>
        <td class="col-md-3">
          Total {{slot.element}}/s
        </td>
        <td class="col-md-3">
          Price
        </td>
        <td class="col-md-3">
          Buy
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.nextBuyAmount()">
        <get-html value="ct.getbuyAmount().toString()"></get-html>
      </button>
        </td>
      </tr>
      <tr class="animif"
          ng-repeat="gen in ct.visibleGenerators(slot)">
        <td class="animif col-md-1">
          {{ct.data.generators[gen].name}}
        </td>
        <td class="animif col-md-2">
          <pretty value="ct.generatorProduction(ct.state.player, gen, slot)"></pretty>
        </td>
        <td class="animif col-md-1">
          <pretty value="slot.generators[gen]"></pretty>
        </td>
        <td class="animif col-md-3">
          <pretty value="ct.tierProduction(ct.state.player, gen, slot)"></pretty>
        </td>
        <td class="animif col-md-3">
          <pretty value="ct.generatorTotalPrice(ct.state.player, gen, slot, ct.getbuyAmount())"></pretty>
          &nbsp;
          <get-html value="ct.data.elements[slot.element].main"></get-html>
        </td>
        <td class="animif col-md-3">
          <div class="pull-left">
            <!-- FIXME splitting the buttons in two seems like the easiest solution
         but I'm open to suggestions -->
            <button ng-if="ct.getbuyAmount() !== 'max'"
                    type="button"
                    class="btn btn-default"
                    ng-click="ct.buyGenerators(ct.state.player, gen, slot, ct.getbuyAmount())"
                    ng-class="{disabled: !ct.canBuy(ct.state.player, slot, ct.generatorTotalPrice(ct.state.player, gen, slot, ct.getbuyAmount()))}">
          <get-html value="ct.getbuyAmount().toString()"></get-html>
        </button>
            <button ng-if="ct.getbuyAmount() === 'max'"
                    type="button"
                    class="btn btn-default"
                    ng-click="ct.buyGenerators(ct.state.player, gen, slot, ct.getbuyAmount())">
          <get-html value="ct.maxCanBuy(ct.state.player, gen, slot).toString()"></get-html>
        </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
