<div class="tab-pane row">
  <div class="col-lg-3">
    <table class="table table-hover element-table no_bottom" data-spy="affix" data-offset-top="150">
      <tbody class="container" ng-repeat="key in visibility.visibleResources()" ng-mouseover="visibility.removeNew(key)">
        <tr class="animif row">
          <td class="col-lg-2">
            <i class="mdi mdi-18px mdi-alert-decagram" ng-if="visibility.hasNew(key)"></i>
          </td>
          <td class="col-lg-4">
            <span class="pull-left by-icon" ng-bind-html="util.trustHTML(util.getHTML(key))"></span>
            <span ng-if="data.radioisotopes.indexOf(key) != -1" class="pull-left icon">&#9762;</span>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.resources[key].number))"></div>
          </td>
        </tr>
        <tr class="animif row" ng-if="data.resources[key].decay != null">
          <td class="col-lg-2"></td>
          <td class="col-lg-4 text-center">
            t<sub>1/2</sub>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(data.resources[key].decay.half_life))"></div>
            s
          </td>
        </tr>
        <!-- XXX: We tie this unlock to beta decay to avoid introducing a new generic unlock "decay". Since beta
          decay is the first and only decay type on the game, this works just fine.
          -->
        <tr class="animif row" ng-if="data.resources[key].decay != null && player.data.achievements.beta_decay">
          <td class="col-lg-2"></td>
          <td class="col-lg-4 text-center">
            <div ng-if="data.resources[key].decay.decay_type" ng-bind-html="util.trustHTML(util.getHTML(data.resources[key].decay.decay_type))"></div>
          </td>
          <td class="col-lg-6">
            <div class="pull-left" ng-bind-html="util.trustHTML(format.decayFormat(data.resources[key].decay))"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-8">
    <h2>{{data.elements[state.current_element].name}}</h2>
    <h3><span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.elementProduction(state.current_element)))" id="production_total"></span> {{state.current_element}}/s</h3>
    <ul ng-if="player.data.achievements.isotope">
      <li ng-repeat="isotope in data.elements[state.current_element].isotopes" ng-if="player.data.resources[isotope].unlocked">
        <span ng-bind-html="util.trustHTML(util.getHTML(isotope))"></span>: {{(data.resources[isotope].ratio*100).toFixed(4)}}%
      </li>
    </ul>
    <div>
      <table class="table">
        <tr>
          <td class="col-md-3">
            {{state.current_element}}/s
          </td>
          <td class="col-md-1">
            Number
          </td>
          <td class="col-md-3">
            Total {{state.current_element}}/s
          </td>
          <td class="col-md-3">
            Price
          </td>
          <td class="col-md-3">
            Buy
          </td>
        </tr>
        <tr class="animif" ng-repeat="name in visibility.visibleGenerators()">
          <td class="animif col-md-3">
            <span class="pull-left">
                {{name}}:
                </span>
            <span class="pull-left">
                  <span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.generatorProduction(name,state.current_element)))"></span>
            </span>
          </td>
          <td class="animif col-md-1">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(player.data.elements[state.current_element].generators[name]))"></div>
          </td>
          <td class="animif col-md-3">
            <div class="pull-left">
              <span ng-bind-html="util.trustHTML(util.prettifyNumber(generator.tierProduction(name,state.current_element)))"></span>
            </div>
          </td>
          <td class="animif col-md-3">
            <div class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(generator.generatorPrice(name, state.current_element)))"></div>
            {{state.current_element}}
          </td>
          <td class="animif col-md-3">
            <div class="pull-left">
              <button type="button" class="btn btn-default button-small" ng-click="generator.buyGenerators(name, state.current_element, 1)" ng-class="{disabled: generator.generatorPrice(name, state.current_element) > player.data.resources[state.current_element].number}">1</button>
            </div>
            <div class="pull-left">
              <button type="button" class="btn btn-default button-small" ng-click="generator.buyGenerators(name, state.current_element, 10)" ng-class="{disabled: generator.generatorPrice(name, state.current_element) > player.data.resources[state.current_element].number}">10</button>
            </div>
            <!-- crappy workaround since it doesn't recognize the literal Infinity -->
            <div class="pull-left">
              <button type="button" class="btn btn-default button-small" ng-click="generator.buyGenerators(name, state.current_element, 1/0)" ng-class="{disabled: generator.generatorPrice(name, state.current_element) > player.data.resources[state.current_element].number}">&#8892;</button>
            </div>
          </td>
        </tr>
      </table>
      <div ng-if="player.data.achievements.reactions && (
        visibility.visibleRedox().length > 0 ||
        visibility.visibleBindings().length > 0 ||
        visibility.visibleSyntheses().length > 0)">
        <hr>
        <div ng-if="visibility.visibleRedox().length > 0 ||
          visibility.visibleBindings().length > 0">
          <h3>Reactions</h3>
          <div ng-if="visibility.visibleRedox().length > 0">
            <h4>Redox</h4>
            <table class="table">
              <tbody>
                <tr class="animif" ng-repeat="key in visibility.visibleRedox()">
                  <td class="col-md-7" width=50%>
                    <div class="pull-left">
                      <span ng-bind-html="util.trustHTML(format.reactionFormat(data.redox[key].number,data.redox[key]))"></span>
                    </div>
                  </td>
                  <td class="col-md-4">
                    <!-- we store the value inside the object itself -->
                    <div class="pull-left">
                      <input type="number" value="1" min="1" ng-init="data.redox[key].number = data.redox[key].number || 1" ng-model="data.redox[key].number">
                      <button type="button" class="btn btn-default" ng-click="reaction.react(data.redox[key].number, data.redox[key], player.data)" ng-class="{disabled: !reaction.isReactionCostMet(data.redox[key].number, data.redox[key])}">React</button>
                      </input>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="visibility.visibleBindings().length > 0">
            <h4>Binding energy</h4>
            <table class="table">
              <tbody>
                <tr class="animif" ng-repeat="key in visibility.visibleBindings()">
                  <td class="col-md-8" width=50%>
                    <div class="pull-left">
                      <span ng-bind-html="util.trustHTML(format.reactionFormat(data.binding_energy[key].number,data.binding_energy[key]))"></span>
                    </div>
                  </td>
                  <td class="col-md-4">
                    <div class="pull-left">
                      <input type="number" min="1" ng-init="data.binding_energy[key].number = data.binding_energy[key].number || 1" ng-model="data.binding_energy[key].number">
                      <button type="button" class="btn btn-default" ng-click="reaction.react(data.binding_energy[key].number, data.binding_energy[key], player.data)" ng-class="{disabled: !reaction.isReactionCostMet(data.binding_energy[key].number, data.binding_energy[key])}">React</button>
                      </input>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-if="visibility.visibleSyntheses().length > 0">
          <h3>Syntheses</h3>
          <table class="table">
            <tbody>
              <tr class="animif" ng-repeat="syn in visibility.visibleSyntheses()" ng-mouseover="visibility.removeNew(key)">
                <td class="col-md-4" width=50%>
                  <div class="pull-left" ng-class="{'text-muted': player.data.syntheses[syn].active <= 0}">
                    <i class="mdi mdi-18px mdi-alert-decagram" ng-if="visibility.hasNew(syn)"></i>
                    <span ng-bind-html="util.trustHTML(format.reactionFormat(synthesis.synthesisPower(syn),data.syntheses[syn]))"></span>
                  </div>
                </td>
                <td class="col-md-1">
                  <div class="pull-left" ng-if="player.data.syntheses[syn].number > 0">
                    {{player.data.syntheses[syn].active}}/{{player.data.syntheses[syn].number}}
                  </div>
                </td>
                <td class="col-md-2">
                  <div class="pull-left" ng-if="player.data.syntheses[syn].number > 0">
                    <button type="button" class="btn btn-default button-small" ng-disabled="player.data.syntheses[syn].active >= player.data.syntheses[syn].number" ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].number" ng-class="{disabled: player.data.syntheses[syn].active >= player.data.syntheses[syn].number}">&#8892;</button>
                    <button type="button" class="btn btn-default button-small" ng-disabled="player.data.syntheses[syn].active >= player.data.syntheses[syn].number" ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].active+1" ng-class="{disabled: player.data.syntheses[syn].active >= player.data.syntheses[syn].number}">+</button>
                    <br>
                    <button type="button" class="btn btn-default button-small" ng-disabled="player.data.syntheses[syn].active <= 0" ng-click="player.data.syntheses[syn].active = 0" ng-class="{disabled: player.data.syntheses[syn].active <= 0}">&#8891;</button>
                    <button type="button" class="btn btn-default button-small" ng-disabled="player.data.syntheses[syn].active <= 0" ng-click="player.data.syntheses[syn].active = player.data.syntheses[syn].active-1" ng-class="{disabled: player.data.syntheses[syn].active <= 0}">-</button>
                  </div>
                </td>
                <td class="col-md-2">
                  <div class="pull-left">
                    <span ng-bind-html="util.trustHTML(format.compoundFormat(synthesis.synthesisMultiplier(syn),data.syntheses[syn].reactant))"></span>
                  </div>
                </td>
                <td class="col-md-3">
                  <div class="pull-left">
                    <button type="button" class="btn btn-default button-small" ng-click="synthesis.buySynthesis(syn, 1)" ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">1</button>
                  </div>
                  <div class="pull-left">
                    <button type="button" class="btn btn-default button-small" ng-click="synthesis.buySynthesis(syn, 10)" ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">10</button>
                  </div>
                  <div class="pull-left">
                    <button type="button" class="btn btn-default button-small" ng-click="synthesis.buySynthesis(syn, 1/0)" ng-class="{disabled: !synthesis.isSynthesisCostMet(syn)}">&#8892;</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <hr>
        <h4>Upgrades</h4>
        <table class="table">
          <tbody>
            <tr class="animif" ng-repeat="generator in visibility.visibleGenerators()|filter:upgrade.filterUpgrade">
              <td class="animif col-md-2">
                <div class="pull-left">
                  {{generator}}
                </div>
              </td>
              <td class="animif col-md-1" ng-repeat="up in data.generators[generator].upgrades">
                <a class="btn btn-default" ng-if="visibility.isUpgradeVisible(up)" ng-click="upgrade.buyUpgrade(up, state.current_element)" ng-class="{disabled: data.upgrades[up].price > player.data.resources[state.current_element].number && !player.data.elements[state.current_element].upgrades[up],
                  active: player.data.elements[state.current_element].upgrades[up]}">
                {{data.upgrades[up].description}}
                </a>
              </td>
              <td class="animif col-md-2">
                <div ng-show="upgrade.lastUpgradeTierPrice(generator) != null">
                  <span class="pull-left" ng-bind-html="util.trustHTML(util.prettifyNumber(upgrade.lastUpgradeTierPrice(generator)))"></span> &nbsp;{{state.current_element}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-1 right-box" ng-if="visibility.visibleElements().length > 1">
    <table class="table table-hover element-table">
      <tr class="animif" ng-repeat="key in visibility.visibleElements()" ng-class="{active:state.current_element===key}">
        <td>
          <div class="pull-left" ng-click="state.current_element = key">
            <a>
              {{data.elements[key].name}}
              <i class="mdi mdi-18px mdi-alert-decagram" ng-if="visibility.elementHasNew(key)"></i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
