<!DOCTYPE html>
<h2>{{data.elements[state.currentElement].name}}</h2>
<h3>
  <pretty value="generator.elementProduction(state.currentElement)" id="production_total"></pretty>
  {{state.currentElement}}/s
</h3>
<ul ng-if="state.player.achievements.isotope">
  <li ng-repeat="(isotope,_) in data.elements[state.currentElement].isotopes"
      ng-if="state.player.resources[isotope].unlocked">
    <get-html value="isotope"></get-html>:
    <pretty value="data.resources[isotope].ratio*100"></pretty>%
  </li>
</ul>
<div>
  <table class="table"
         ng-if="state.player.elements[state.currentElement].unlocked">
    <tr>
      <td class="col-md-1">
        Generator
      </td>
      <td class="col-md-2">
        {{state.currentElement}}/s
      </td>
      <td class="col-md-1">
        Number
      </td>
      <td class="col-md-3">
        Total {{state.currentElement}}/s
      </td>
      <td class="col-md-3">
        Price
      </td>
      <td class="col-md-3">
        Buy
      </td>
    </tr>
    <tr class="animif"
        ng-repeat="gen in visibility.visibleGenerators(state.currentElement)">
      <td class="animif col-md-1">
        {{data.generators[gen].name}}
      </td>
      <td class="animif col-md-2">
        <pretty value="generator.generatorProduction(gen,state.currentElement)"></pretty>
      </td>
      <td class="animif col-md-1">
        <pretty value="state.player.elements[state.currentElement].generators[gen]"></pretty>
      </td>
      <td class="animif col-md-3">
        <pretty value="generator.tierProduction(gen,state.currentElement)"></pretty>
      </td>
      <td class="animif col-md-3">
        <pretty value="generator.generatorPrice(gen, state.currentElement)"></pretty>
        &nbsp;
        <get-html value="data.elements[state.currentElement].main"></get-html>
      </td>
      <td class="animif col-md-3">
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="generator.buyGenerators(gen, state.currentElement, 1)"
                  ng-class="{disabled: generator.generatorPrice(gen, state.currentElement) > state.player.resources[state.currentElement].number}">1</button>
        </div>
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="generator.buyGenerators(gen, state.currentElement, 10)"
                  ng-class="{disabled: generator.generatorPrice(gen, state.currentElement) > state.player.resources[state.currentElement].number}">10</button>
        </div>
        <!-- crappy workaround since it doesn't recognize the literal Infinity -->
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="generator.buyGenerators(gen, state.currentElement, 1/0)"
                  ng-class="{disabled: generator.generatorPrice(gen, state.currentElement) > state.player.resources[state.currentElement].number}">&#8892;</button>
        </div>
      </td>
    </tr>
  </table>
  <div ng-if="state.player.achievements.reactions && (
        visibility.visibleRedox(state.currentElement).length > 0 ||
        visibility.visibleBindings(state.currentElement).length > 0 ||
        visibility.visibleSyntheses(state.currentElement).length > 0)">
  </div>
</div>
