<!DOCTYPE html>
<h2>Global</h2>
<div class="row">
  <div ng-repeat="(key, up) in ct.data.global_upgrades"
       ng-click="ct.buyGlobalUpgrade(key)"
       class="col-lg-12 btn btn-default"
       ng-class="{disabled: !ct.canBuyGlobalUpgrade(key)}">
    <span class="pull-left">
      Level: {{ct.state.player.global_upgrades[key]}} {{up.name}}: {{up.description}}
    </span>
    <span class="pull-right"
          ng-repeat="(resource, price) in up.price">
        <pretty value="price*ct.priceMultiplier(key)"></pretty> &nbsp;
        <get-html value="resource"></get-html>
      </span>
  </div>
</div>
<h2>{{ct.data.elements[ct.state.currentElement].name}}</h2>
<div class="row">
  <div ng-repeat="up in ct.visibleUpgrades(ct.state.currentElement)"
       ng-click="ct.buyUpgrade(up, ct.state.currentElement)"
       class="col-lg-12 btn btn-default"
       ng-class="{disabled: ct.data.upgrades[up].price > ct.state.player.resources[ct.data.elements[ct.state.currentElement].main].number &&
         !ct.state.player.elements[ct.state.currentElement].upgrades[up],
         active: ct.state.player.elements[ct.state.currentElement].upgrades[up]}">
    <span class="pull-left">
        {{ct.data.upgrades[up].name}}: {{ct.data.upgrades[up].description}}
      </span>
    <span class="pull-right">
        <pretty value="ct.data.upgrades[up].price"></pretty> &nbsp;
        <get-html value="ct.data.elements[ct.state.currentElement].main"></get-html>
      </span>
  </div>
</div>
