<!DOCTYPE html>
<div class="tab-pane row">
  <div class="col-lg-12">
    <button type="button"
            class="btn btn-default btn-block"
            ng-click="ct.reset(true)">Erase save</button>
  </div>
  <div class="col-lg-12">
    <button type="button"
            class="btn btn-default btn-block"
            id="exportSave"
            ng-click="ct.importExportSave()">Import/Export Save</button>
  </div>
  <div class="col-lg-12 form-group">
    <input class="form-control"
           id="exportSaveText"
           type="text"
           ng-model="ct.state.export" />
  </div>
  <div class="col-lg-12">
    <a target="_blank"
       href="https://github.com/angarg12/nucleogenesis">Github</a>
  </div>
  <div class="col-lg-12">
    <a target="_blank"
       href="./changelog.txt">Changelog</a>
  </div>
</div>
