<!DOCTYPE html>
<div class="tab-pane row">
  <div class="col-xs-12">
    <button type="button"
            class="btn btn-default btn-block"
            ng-click="ct.reset(true)">Erase save</button>
  </div>
  <div class="col-xs-12">
    <button type="button"
            class="btn btn-default btn-block"
            id="exportSave"
            ng-click="ct.importExportSave()">Import/Export Save</button>
  </div>
  <div class="col-xs-12 form-group">
    <input class="form-control"
           id="exportSaveText"
           type="text"
           ng-model="ct.state.export" />
  </div>
  <div class="col-xs-12">
    <label for="numberFormat">Number Format:</label>
    <select name="numberFormat" id="numberFormat" ng-model="ct.state.player.options.numberformat.format">
      <option value="standard">Standard</option>
      <option value="scientific">Scientific</option>
      <option value="hybrid">Hybrid</option>
      <option value="engineering">Engineering</option>
    </select>
  </div>
  <div class="col-xs-12">
    <a target="_blank"
       href="https://github.com/angarg12/nucleogenesis">Github</a>
  </div>
  <div class="col-xs-12">
    <a target="_blank"
       href="https://github.com/angarg12/nucleogenesis/wiki">Changelog</a>
  </div>
</div>
