<!DOCTYPE html>
<div class="tab-pane row">
  <div class="col-lg-2">
    <button type="button"
            class="btn btn-default btn-block"
            ng-click="savegame.save()">Save</button>
    <button type="button"
            class="btn btn-default btn-block"
            ng-click="savegame.reset(true)">Erase save</button>
    <br>
    <br>
    <button type="button"
            class="btn btn-default btn-block"
            id="exportSave"
            ng-click="savegame.exportSave()">Export Save</button>
    <input id="exportSaveText"
           type="text"
           value="{{state.export}}"
           readonly>
    <button type="button"
            class="btn btn-default btn-block"
            id="importSave"
            ng-click="savegame.importSave()">Import Save</button>
  </div>
  <div class="col-lg-12">
    <a target="_blank"
       href="https://github.com/angarg12/nucleogenesis">Github</a>
  </div>
  <div class="col-lg-12">
    <a target="_blank"
       href="./changelog.txt">Changelog</a>
  </div>
</div>
