<!DOCTYPE html>
<h2>{{data.elements[state.currentElement].name}}</h2>
<table class="table">
  <tbody>
    <tr class="animif"
        ng-repeat="syn in ct.visibility.visibleSyntheses(ct.state.currentElement)"
        ng-mouseover="ct.visibility.removeNew(key)">
      <td class="col-md-4">
        <div class="pull-left"
             ng-class="{'text-muted': ct.state.player.syntheses[syn].active <= 0}">
          <i class="mdi mdi-18px mdi-alert-decagram"
             ng-if="ct.visibility.hasNew(syn)"></i>
          <span ng-bind-html="ct.util.trustHTML(ct.format.reactionFormat(ct.synthesisPower(syn), ct.data.syntheses[syn]))"></span>
        </div>
      </td>
      <td class="col-md-1">
        <div class="pull-left"
             ng-if="ct.state.player.syntheses[syn].number > 0">
          {{ct.state.player.syntheses[syn].active}}/{{ct.state.player.syntheses[syn].number}}
        </div>
      </td>
      <td class="col-md-2">
        <div class="pull-left"
             ng-if="ct.state.player.syntheses[syn].number > 0">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-disabled="ct.state.player.syntheses[syn].active >= ct.state.player.syntheses[syn].number"

                  ng-click="ct.state.player.syntheses[syn].active = ct.state.player.syntheses[syn].number"
                  ng-class="{disabled: ct.state.player.syntheses[syn].active >= ct.state.player.syntheses[syn].number}">&#8892;</button>
          <button type="button"
                  class="btn btn-default button-small"
                  ng-disabled="ct.state.player.syntheses[syn].active >= ct.state.player.syntheses[syn].number"

                  ng-click="ct.state.player.syntheses[syn].active = ct.state.player.syntheses[syn].active+1"

                  ng-class="{disabled: ct.state.player.syntheses[syn].active >= ct.state.player.syntheses[syn].number}">+</button>
          <br>
          <button type="button"
                  class="btn btn-default button-small"
                  ng-disabled="ct.state.player.syntheses[syn].active <= 0"
                  ng-click="ct.state.player.syntheses[syn].active = 0"
                  ng-class="{disabled: ct.state.player.syntheses[syn].active <= 0}">&#8891;</button>
          <button type="button"
                  class="btn btn-default button-small"
                  ng-disabled="ct.state.player.syntheses[syn].active <= 0"
                  ng-click="ct.state.player.syntheses[syn].active = ct.state.player.syntheses[syn].active-1"

                  ng-class="{disabled: ct.state.player.syntheses[syn].active <= 0}">-</button>
        </div>
      </td>
      <td class="col-md-2">
        <div class="pull-left">
          <span ng-bind-html="ct.util.trustHTML(ct.format.compoundFormat(ct.synthesisMultiplier(syn),ct.data.syntheses[syn].reactant))"></span>
        </div>
      </td>
      <td class="col-md-3">
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="ct.buySynthesis(syn, 1)"
                  ng-class="{disabled: !ct.isSynthesisCostMet(syn)}">1</button>
        </div>
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="ct.buySynthesis(syn, 10)"
                  ng-class="{disabled: !ct.isSynthesisCostMet(syn)}">10</button>
        </div>
        <div class="pull-left">
          <button type="button"
                  class="btn btn-default button-small"
                  ng-click="ct.buySynthesis(syn, 1/0)"
                  ng-class="{disabled: !ct.isSynthesisCostMet(syn)}">&#8892;</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
