<!DOCTYPE html>
<h2>{{ct.title}}</h2>
<div ng-if="ct.reactor.availableReactions(ct.element).length > 0">
<button type="button"
        class="btn btn-default"
        ng-click="ct.reactor.addReaction(ct.state.player, ct.reactionSelect)">
		Add
  <br>
</button>
<select name="reactionSelect"
        ng-model="ct.reactionSelect">
    <option ng-repeat="reaction in ct.reactor.availableReactions(ct.element)"
  value="{{reaction}}">{{reaction}}</option>
  </select> Slots: {{ct.reactor.reactionSize(ct.state.player)}}/{{ct.reactor.reactionSlots(ct.state.player)}}
<table class="table">
  <tbody>
    <tr class="animif">
      <div class="row">
        <th class="col-lg-10">
          Reaction
        </th>
        <th class="col-lg-1">
          Number
        </th>
        <th class="col-lg-1">
          Active
        </th>
      </div>
    </tr>
    <tr class="animif"
        ng-repeat="reaction in ct.reactor.visibleReactions(ct.element) track by $index">
      <div class="row">
        <td class="col-lg-10">
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.reactor.removeReaction(ct.state.player, reaction)">
  					Remove
  				</button>
          <span ng-bind-html="ct.util.trustHTML(
            ct.format.reactionFormat(ct.reactor.reactionPower(ct.state.player),
                                      reaction.reaction))"></span>
        </td>
        <td class="col-lg-1">
          <pretty value="ct.reactor.reactionPower(ct.state.player)"></pretty>
        </td>
        <td class="col-lg-1">
          <input type="checkbox"
                 ng-model="reaction.active">
        </td>
      </div>
    </tr>
  </tbody>
</table>
</div>
