<!DOCTYPE html>
<h2>{{ct.data.elements[ct.state.currentElement].name}}</h2>
<h3>Redox</h3>
<button type="button"
        class="btn btn-default"
        ng-click="ct.addRedox()">
		Add
	</button>
<table class="table">
  <tbody>
    <tr class="animif">
      <div class="row">
        <th class="col-lg-2">
          Resource
        </th>
        <th class="col-lg-8">
          Redox
        </th>
        <th class="col-lg-1">
          Number
        </th>
        <th class="col-lg-1">
          Active
        </th>
      </div>
    </tr>
    <tr class="animif"
        ng-repeat="redox in ct.visibility.visibleRedox(ct.state.currentElement) track by $index">
      <div class="row">
        <td class="col-lg-2">
          <form name="isotope">
            <select name="isotope"
                    id="isotope"
                    ng-options="key as key for (key , value) in ct.data.elements[redox.element].isotopes"
                    ng-model="redox.resource">
            </select>
          </form>
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.removeRedox($index)">
					Remove
				</button>
        </td>
        <td class="col-lg-2">
          <span ng-bind-html="ct.util.trustHTML(
            ct.format.reactionFormat(ct.redoxPower(ct.state.player),
                                      ct.redoxReaction(redox)))"></span>
          <div>
            <label>From:</label>
            <rzslider rz-slider-model="redox.from"
                      rz-slider-options="{
						floor: -ct.data.elements[redox.element].electron_affinity.length,
						ceil: ct.data.elements[redox.element].ionization_energy.length,
						showTicksValues: true}">
            </rzslider>
          </div>
          <div>
            <label>To:</label>
            <rzslider rz-slider-model="redox.to"
                      rz-slider-options="{
						floor: -ct.data.elements[redox.element].electron_affinity.length,
						ceil: ct.data.elements[redox.element].ionization_energy.length,
						showTicksValues: true}">
            </rzslider>
          </div>
        </td>
        <td class="col-lg-1">
          <pretty value="ct.redoxPower(ct.state.player)"></pretty>
        </td>
        <td class="col-lg-1">
          <input type="checkbox"
                 ng-model="redox.active">
        </td>
      </div>
    </tr>
  </tbody>
</table>
<h3>Binding Energy</h3>
<table class="table">
  <tbody>
    <tr class="animif"
        ng-repeat="key in ct.visibility.visibleBindings(ct.state.currentElement)">
      <td class="col-md-8">
        <div class="pull-left">
          <span ng-bind-html="ct.util.trustHTML(ct.format.reactionFormat(ct.data.binding_energy[key].number, ct.data.binding_energy[key]))"></span>
        </div>
      </td>
      <td class="col-md-4">
        <div class="pull-left">
          <input type="number"
                 min="1"
                 ng-init="ct.data.binding_energy[key].number = ct.data.binding_energy[key].number || 1"
                 ng-model="ct.data.binding_energy[key].number" />
          <button type="button"
                  class="btn btn-default"
                  ng-click="ct.reaction.react(ct.data.binding_energy[key].number, ct.data.binding_energy[key], ct.state.player)"

                  ng-class="{disabled: !ct.reaction.isReactionCostMet(ct.data.binding_energy[key].number, ct.data.binding_energy[key], ct.state.player)}">
                    React
                </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
