<!DOCTYPE html>
<h2>{{ct.data.elements[ct.state.currentElement].name}}</h2>
<h3>
    <pretty value="ct.state.player.resources[ct.data.elements[ct.state.currentElement].exotic].number"></pretty>
    <get-html value="ct.data.elements[ct.state.currentElement].exotic"></get-html>
    (+<pretty value="ct.state.player.resources[ct.data.elements[ct.state.currentElement].exotic].number*ct.data.constants.EXOTIC_POWER*100"></pretty>%)
    </h3>
<p>Sacrifice your progress to obtain exotic matter. Exotic matter boosts your production for the element
  by {{ct.data.constants.EXOTIC_POWER*100}}% and unlocks new upgrades.</p>
<p>Prestige now to obtain</p>
<p ng-repeat="(key,value) in ct.exoticProduction()">
  <pretty value="value"></pretty>
  <get-html value="key"></get-html>
</p>
<button type="button"
        class="btn btn-default"
        ng-click="ct.prestige(ct.state.currentElement)">Prestige</button>
<p>You will sacrifice</p>
<p ng-repeat="key in ct.data.elements[ct.state.currentElement].includes"
   ng-if="ct.state.player.resources[key].unlocked">
  <pretty value="ct.state.player.resources[key].number"></pretty>
  <get-html value="key"></get-html>
</p>
<div class="panel-body row">
  <div ng-repeat="up in ct.visibility.visibleExoticUpgrades(ct.state.currentElement)"
       ng-click="ct.buyExoticUpgrade(up, ct.state.currentElement)"
       class="col-lg-6 btn btn-default"
       ng-class="{disabled: ct.data.exotic_upgrades[up].price > ct.state.player.resources[ct.data.elements[ct.state.currentElement].exotic].number &&
         !ct.state.player.elements[ct.state.currentElement].exotic_upgrades[up],
         active: ct.state.player.elements[ct.state.currentElement].exotic_upgrades[up]}">
    <span class="pull-left">
        {{ct.data.exotic_upgrades[up].name}}: {{ct.data.exotic_upgrades[up].description}}
      </span>
    <span class="pull-right">
        <pretty value="ct.data.exotic_upgrades[up].price"></pretty> &nbsp;
        <get-html value="ct.data.elements[ct.state.currentElement].exotic"></get-html>
      </span>
  </div>
</div>
