<!DOCTYPE html>

<label>Hide bought upgrades:
   <input type="checkbox" ng-model="ct.state.hideBought">
</label>
<div ng-repeat="slot in ct.state.player.element_slots track by $index">
  <element-select index="$index"
                  ng-if="!slot"></element-select>
  <div ng-if="slot">
    <h2>{{ct.data.elements[slot.element].name}}</h2>
    <button class="btn btn-default"
            ng-click="ct.buyAll(slot)">Buy all</button>
    <div class="row">
      <div ng-repeat="up in ct.visibleUpgrades(slot)"
           ng-click="ct.buyUpgrade(up, slot)"
           class="col-xs-12 btn btn-default"
           ng-class="{disabled: ct.data.upgrades[up].price > ct.state.player.resources[ct.data.elements[slot.element].main].number &&
         !slot.upgrades[up],
         active: slot.upgrades[up]}">
        <span class="pull-left">
        {{ct.data.upgrades[up].name}}: {{ct.data.upgrades[up].description}}
      </span>
        <span class="pull-right">
        <pretty value="ct.data.upgrades[up].price"></pretty> &nbsp;
        <get-html value="ct.data.elements[slot.element].main"></get-html>
      </span>
      </div>
    </div>
  </div>
</div>
