.navbar-brand {
  padding-bottom:55px;
}

.navbar-brand small {
  display:block;
  font-size:85%;
}

.element-table tr:first-child td {
    border: 0px none;
}

.right-box {
	padding-left:0px;
}

.no_bottom {
    margin-bottom: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}
